/*********************************************
GENERAL
*********************************************/
body{
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

img { 
   max-width: 100%; 
}

h3{
    margin: 0 0 1em 0;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}


/*********************************************
HEADER
*********************************************/
header{
    float: left;
 margin: 0 0 30px 0;
 padding: 5px 0 0 0;
 width: 100%;
}
#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Capriola', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}

/*********************************************
NAVIGATION
*********************************************/
nav{
   text-align: center;
   padding: 10px 0;
   margin: 20px 0 0;
}

nav ul{
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li{
    display: inline-block;
}

nav a{
 font-weight: 800;
 padding: 15px 10px;
}

/*********************************************
FOOTER
*********************************************/
footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #00ffd4;
}
.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/*********************************************
PAGE PORTFOLIO
*********************************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #00ffd4;
    color: #ff0; 
}


/*********************************************
ABOUT ME PAGE
*********************************************/
.profile-photo{
    display: block;
    max-width: 0 auto 30px;
    border-radius: 25%;
}  


/*********************************************
COLORS 
*********************************************/
body {
    background: #2f556b;
    color: #000000;
}

a {
    color: #000000;
}

header {
    background: #00001b;
}

h1, h2 {
    color: #8b0000;
}

nav {
    background: #2f556b;
}

nav a, nav a:visited{
    color: #80000b;
}
    
nav a.selected, nav a:hover {
    color: #00ffd4;
}
/*********************************************
MEDIA Queries
*********************************************/